.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
height: auto;
margin: 35px;
}
.Left {
    margin-bottom: 15px;
}
.Right {
    position: relative;
    float: right;
    margin-bottom: 15px;
}
.Right a {
    font-weight: bold;
    color:orange;
}

.Left a {
    color: gray;
}
.FormAdd {
    width:500px;
    margin-left:300px;
}